.main {
  display: flex;
}

.App {
  padding: 20px 20px 0;
}

li {
  list-style-type: none;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  font-size: 18px;
}

nav a:hover {
  color: #f00;
}

.products-list {
  max-width: 1100px;
  margin: 40px 0 0 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 665px;
  border: 1px black solid;
  border-radius: 20px;
  padding-top: 20px;
  overflow: auto;
}

.product-item {
  width: 350px;
  padding: 20px 30px;
  border: 1px black solid;
  text-align: center;
  margin: 0 40px 40px;
  border-radius: 20px;
}

.product-image {
  max-width: 300px;
  max-height: 150px;
}

.product-name {
  text-align: left;
}

.product-button {
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 15px;
  margin-left: 60%;
  text-transform: lowercase;
}

.product-button:hover {
  background-color: #f00;
  color: #fff;
}

.product-button:active {
  background-color: rgb(189, 4, 4);
  color: #fff;
}

.shops {
  border: 1px black solid;
  border-radius: 20px;
  height: 685px;
  padding: 0 20px;
  padding-bottom: 0;
  margin-top: 40px;
}

.goToShop {
  border-radius: 20px;
  margin: 20px 0;
  font-size: 18x;
  text-align: center;
  background-color: white;
  height: 50px;
  width: 150px;
}

.goToShop:hover {
  background-color: #f5f5f5;
}

.goToShop:active {
  background-color: #a59f9f;
}

.shopping-cart {
  display: flex;
}

.user-info {
  display: flex;
  border: 1px black solid;
  border-radius: 20px;
  flex-direction: column;
  width: 650px;
  margin-right: 40px;
  margin-top: 40px;
  padding-top: 20px;
}

.user-info input {
  margin: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  padding: 4px 100px 4px 20px;
}

.user-info label {
  margin-left: 20px;
}

.user-info button {
  margin: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  padding: 4px 100px;
  background-color: rgb(254, 254, 254);
}

.user-info button:hover {
  background-color: #c9c8c8;
}

.user-info button:active {
  background-color: #a59f9f;
}

.order-cart {
  border: 1px solid black;
  width: 650px;
  border-radius: 20px;
  margin-top: 40px;
  max-height: 650px;
  overflow: auto;
}

.order-item {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 20px;
  padding-left: 0;
  padding: 20px;
  
}

.order-item img {
  max-height: 250px;
  max-width: 300px;
  margin-right: 20px;
}

.order-item-info {
  margin-top: 40px;
}

.history-list {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.history-item {
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  margin: 50px 20px;
  padding-left: 0;
  padding: 20px;
  width: 400px;
}

.history-item img {
  max-width: 150px;
}
